body {
  font-family: "Britannic Bold", Arial, sans-serif;
  background: #ffeef5;
  text-align: center;
  padding: 40px;
  /* kue */
.cake {
  font-size: 70px;
  margin-bottom: 10px;
  display: inline-block;
  animation: bounce 2s infinite ease-in-out;
}

/* animasi goyang */
@keyframes bounce {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
}

/* efek glow lilin */
.cake::after {
  content: "✨";
  position: absolute;
  margin-left: -10px;
  margin-top: -10px;
  font-size: 20px;
  animation: glow 1.5s infinite alternate;
}

@keyframes glow {
  from { opacity: 0.4; transform: scale(1); }
  to { opacity: 1; transform: scale(1.3); }
}
}

.card {
  background: skyblue;
  padding: 30px;
  border-radius: 20px;
  max-width: 500px;
  margin: auto;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

h1 {
  color: #ff4d88;
}

.ucapan {
  color: #444;
  line-height: 1.6;
  font-family: "Bradley Hand ITC", cursive;
}

.from {
  margin-top: 20px;
  font-style: italic;
  color: #444;
  font-family: "Bookman Old Style", serif;
}